<div class="row">
<div class="col-md-2">

</div>
<div class="col-md-8">
<center>Last Updated <%= time_ago_in_words(@last_updated_at) %> ago
</br></br>
</center>

<table class="table">
  <tr>
    <th style="background-color:#8DAF2D;"><h1>Food Items in Need *</h1></th>
  </tr>
<% @needed_food_items.each do |food_item| %>
  <tr>
    <td style="font-size:20px; background-color:#BFD08F;"><%= food_item.name %></td>
  </tr>
<% end %>
</table>
<center style="font-size:10px;">* if you plan on donating over 200lbs, please let us know in advance, so we can prepare accordingly</center>
</div>
</div>


