<h1>Example#show</h1>
<p>Find me in app/views/example/show.html.erb</p>
<%= link_to "Show mah Fancybox!", "#hello", class: "fancybox" %>
<div style="display:none;">
  <div id="hello">
  Hello world!
  </div>
</div>

<%= link_to "See Preview", image_path("micaLogo.png"), :class => "fancybox" %>
 
# => <a href="/assets/micaLogo.png" class="fancybox">See Preview</a>

