<div class="row">
  <div class="col-md-6 col-md-offset-3">

<table class="table">
  <tr>
    <th style="background-color:#F2C83E;"><h1>About Us</h1></th>
  </tr>

<% @abouts.each do |about| %>
  <tr>
    <td><%= about.statement %></td>
  </tr>
<% end %>
</table>

<br />

<br />
  </div>
</div>

