<div class="google-maps">
	<iframe
  	width="600"
  	height="450"
  	frameborder="0" style="border:0"
  	src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAbnOyM2PmT8OjZ3-atowHjkHG8w8At8F0
    	&q=611+4th+St+Grinnell+IA">
	</iframe>
</div>

<div class="col-md-6">
	<br> <br>
	<h2> For Fresh Produce Deliveries and Main Entrance
	</h2>
</div>

<div class="col-md-6">
	<a href=<%= "assets/outside2.jpg" %> data-lightbox="outside">
<img src=<%= "assets/outside2thumb.jpg" %>/>
</a>
</div>

<div class="col-md-6">
<a href=<%= "assets/outside1.jpg" %> data-lightbox="outside">
<img src=<%= "assets/outside1thumb.jpg" %>/>
</a>
</div>

<div class="col-md-6">
<br> <br>
	<h2> For All Other Deliveries/Donations
	</h2>
</div>
