 		<div class="container">
			
			<h1 id="page-title" class="editable">FancyBox Example</h1>
			
			<div class="row">
				<div class="col-sm-8" id="left-column">
					<div id="my-gallery" 
					     class="gallery editable-gallery"
					     data-thumbnail-width="200"
					     data-thumbnail-height="200"
					          <%= link_to (image_tag ("images/glyphicons-halflings.png"), image_path("images/glyphicons-halflings.png")) %></a>  
						</a>
		</div>	
		</div>			
		</div> 
 


