/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require fancybox
 *= require_tree .
 *= require lightbox
 */

/* Sticky footer styles
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
  font-family: 'Roboto', sans-serif !important;

}
.footer {
  position: relative;
  top: 83%;
  width: 100%; 
  background-color: #8DAF2D;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  padding-bottom:200px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.contactInfo {
	text-align: center;
}

body.a:hover {
  background-color: none;
}

body > .navbar {
  background-color: white;
  border-color: #8DAF2D;
}

body > .navbar .navbar-brand {
  color: #8DAF2D;
}

body > .navbar .navbar-brand:hover {
  color: #333;
}

body > .navbar .navbar-nav > li > a, a:hover {
  color: #8DAF2D;
}

body > .navbar .navbar-nav > li > a:hover {
  color: #333;
}

h1 {
  text-align:center;
}

table {
  text-align:center;
}

table th {
  text-align:center;
}

table tr {
  text-align:center;
}