/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul#foodNav {
	text-align: center;
	position: fixed;
}

 ul#foodNav li {
 	display: inline-block;
 	list-style-type: none;
 	padding-right: 10pt;
 	font-size: 3em;
 	padding-top: 10pt;
 }
