<!DOCTYPE html>
<html>
<head>
  <title>Foodpantry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
      <!-- Bootstrap core CSS -->
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
</head>
<body>

<!-- HEADER -->

<!-- NAV -->

<div class="container">

<ul id="foodNav">
  <li><a href="http://www.micaonline.org/" target="_blank">Home</a></li>
  <li><a href="#acceptedFood">Accepted Food</a></li>
  <li><a href="#locationInfo">Location</a></li>
  <li><a href="#contactInfo">Contact</a></li>
</ul>

<div id="tabBox" style="height:300px; padding-top:50pt;">
  <%= yield %>
</div>
</div>

<!-- CONTACT INFO BOX -->

<div id="contactInfo" style="padding-top:30pt; padding-bottom:30pt; text-align:center;">
  <h2>CONTACT US!</h2>
  <h3>Mid-Iowa Community Action, Inc.</h3>
  Administrative Offices <br/>
  1001 S. 18th Ave. <br/>
  Marshalltown, IA 50158 <br/>
  641-752-7162 <br/>
  <a href="mailto:info@micaonline.org?Subject=Hi Mica!">Email Us!</a>
</div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/assets/javascripts/bootstrap.js"></script>
</body>
</html>
